fieldset{
		/*background-image: url(images/bkg.jpg);*/
		/*background-color: rgba(225,55,255,0.8);*/
		background-color: silver;
		margin: 0 auto;
		width: 10%;
		border-radius: 8px;
		border: 0px solid #000000;
    	box-shadow: 8px 7px 20px #000000;
	}
	legend{
		/*background-color: rgba(255,10,255,0.3);*/
		background-color: #000000;
		color: #fff;
	    border: 1px  #000000;
	    border-radius: 10px;
	    box-shadow: -1px -2px 3px;
	}
	button{
		/*background-color: rgb(0, 191, 255);*/
    	/*background-color: #872db4;*/
    	/*background-color: rgba(225,55,255,0.8);*/
    	background-color: gray;
    	color: #fff;
		width: 40px;
		font-size: x-large;
		border:1px ;
		border-radius: 10px;
		cursor: pointer;
	}
	input{
		height: 30px;
		/*border-style: groove;*/
		border-radius: 5px;
		margin-bottom: 10px;
		text-align: right;
	}